@model ClinicBooking.Models.ViewModels.AppointmentViewModel

<h2>Підтвердження запису</h2>

@{
    var selectedDoctor = Model.Doctors.FirstOrDefault(d => d.Value == Model.DoctorID.ToString());
    var selectedPacient = Model.Pacients.FirstOrDefault(d => d.Value == Model.PacientID.ToString());
}

@if (selectedDoctor != null)
{
    <p><strong>Лікар:</strong> @selectedDoctor.Text</p>
}

@if (selectedPacient != null)
{
    <p><strong>Пацієнт:</strong> @selectedPacient.Text</p>
}

<p><strong>Дата прийому:</strong> @Model.AppointmentDate</p>
<p><strong>Примітки:</strong> @Model.Notes</p>

<form method="post" action="/Appointment/ConfirmAppointment">
    <button type="submit" class="btn btn-success">Підтвердити</button>
</form>
